body{
    background-image:url(secondpage.html/picture.jpg);

    background-color: blue;
    font-size: xx-large
}
p{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Griz+Script.png);
}